## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [4]:
app_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

#### 列出所有欄位

In [5]:
app_train.dtypes

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
CNT_CHILDREN                    int64
AMT_INCOME_TOTAL              float64
AMT_CREDIT                    float64
AMT_ANNUITY                   float64
AMT_GOODS_PRICE               float64
NAME_TYPE_SUITE                object
NAME_INCOME_TYPE               object
NAME_EDUCATION_TYPE            object
NAME_FAMILY_STATUS             object
NAME_HOUSING_TYPE              object
REGION_POPULATION_RELATIVE    float64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
DAYS_REGISTRATION             float64
DAYS_ID_PUBLISH                 int64
OWN_CAR_AGE                   float64
FLAG_MOBIL                      int64
FLAG_EMP_PHONE                  int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
OCCUPATION_TYPE                object
CNT_FAM_MEMBERS               float64
                               ...
DEF_30_CNT_SOCIAL_CIRCLE      float64
OBS_60_CNT_SOCIAL_CIRCLE      float64
DEF_60_CNT_SOCIAL_CIRCLE      float64
DAYS_LAST_PHONE_CHANGE        float64
FLAG_DOCUMENT_2                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
AMT_REQ_CREDIT_BUREAU_HOUR    float64
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

#### 截取部分資料

In [6]:
#取最後5筆
app_train.tail()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [9]:
#取1000~1050筆資料
app_train[1000:1050]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
1000,101157,0,Cash loans,F,Y,Y,0,135000.0,679500.0,22585.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1001,101158,0,Revolving loans,M,Y,Y,0,180000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1002,101159,0,Cash loans,M,Y,Y,0,99000.0,545040.0,20677.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1003,101161,0,Cash loans,F,N,N,0,135000.0,1546020.0,47038.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1004,101162,0,Cash loans,F,N,Y,1,99000.0,746271.0,31747.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
1005,101163,0,Cash loans,M,N,Y,0,135000.0,1661418.0,66019.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1006,101164,0,Cash loans,F,Y,Y,1,315000.0,450000.0,27324.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
1007,101165,1,Revolving loans,F,N,Y,0,157500.0,225000.0,11250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1008,101166,0,Revolving loans,F,Y,N,0,157500.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
1009,101167,0,Revolving loans,F,N,Y,1,90000.0,202500.0,10125.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
1010,101168,0,Cash loans,F,N,Y,0,130500.0,548770.5,21892.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,9.0
1011,101170,0,Cash loans,F,N,Y,1,337500.0,1102171.5,43839.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
1012,101171,0,Cash loans,F,N,N,0,112500.0,508495.5,21541.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
1013,101172,0,Cash loans,M,Y,Y,0,180000.0,382500.0,17851.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,9.0
1014,101173,0,Cash loans,M,N,Y,1,144000.0,603000.0,32710.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1015,101174,0,Cash loans,F,N,Y,1,157500.0,1125000.0,32895.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1016,101175,0,Revolving loans,M,Y,Y,0,202500.0,405000.0,20250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1017,101176,0,Cash loans,F,N,Y,0,157500.0,1042164.0,60511.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
1018,101177,0,Cash loans,F,N,N,0,225000.0,670500.0,19602.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1019,101178,0,Cash loans,M,Y,Y,0,328500.0,1190340.0,63549.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,0.0
1020,101179,0,Cash loans,M,N,Y,2,225000.0,675000.0,53460.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
1021,101180,0,Cash loans,M,N,Y,1,63000.0,78192.0,8419.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
1022,101182,0,Cash loans,F,N,Y,0,135000.0,193572.0,19273.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1023,101183,0,Cash loans,F,N,Y,1,90000.0,314100.0,19111.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
1024,101184,0,Cash loans,F,N,Y,0,103500.0,545040.0,26640.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1025,101185,0,Cash loans,F,N,N,0,90000.0,1256400.0,36864.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1026,101187,0,Cash loans,F,Y,N,0,157500.0,288562.5,18918.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1027,101188,0,Revolving loans,F,Y,Y,0,112500.0,337500.0,16875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
1028,101189,0,Cash loans,F,Y,Y,0,121500.0,909000.0,36180.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
1029,101191,0,Cash loans,F,N,N,0,202500.0,675000.0,32602.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
1030,101192,0,Cash loans,M,N,N,1,225000.0,900000.0,35824.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
1031,101195,0,Cash loans,M,N,Y,0,90000.0,161730.0,7254.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
1032,101196,0,Cash loans,M,N,Y,0,225000.0,549000.0,15228.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,3.0
1033,101197,1,Cash loans,F,N,Y,0,144000.0,314100.0,16443.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1034,101199,0,Cash loans,M,Y,Y,0,252000.0,314100.0,21375.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
1035,101201,1,Cash loans,F,N,Y,2,99000.0,180000.0,14562.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1036,101202,0,Cash loans,M,Y,N,3,157500.0,485640.0,38133.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
1037,101203,0,Cash loans,M,N,Y,0,202500.0,1078200.0,31653.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1038,101205,0,Cash loans,F,Y,N,2,90000.0,463284.0,22662.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
1039,101206,0,Cash loans,F,N,N,0,67500.0,203760.0,10782.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1040,101207,0,Cash loans,F,N,N,0,76500.0,545040.0,19575.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
1041,101208,0,Cash loans,M,N,Y,0,157500.0,284400.0,19134.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
1042,101209,0,Revolving loans,M,Y,N,0,180000.0,540000.0,27000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
1043,101210,0,Cash loans,M,N,Y,0,180000.0,1129500.0,43150.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
1044,101212,0,Cash loans,F,N,N,1,132075.0,153000.0,13261.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
1045,101214,0,Revolving loans,F,N,Y,1,225000.0,247500.0,12375.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1046,101215,0,Cash loans,M,N,Y,1,360000.0,1757466.0,48460.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1047,101216,0,Cash loans,F,Y,Y,0,135000.0,518562.0,22099.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1048,101217,0,Cash loans,F,N,Y,0,126000.0,552555.0,18391.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1049,101218,0,Cash loans,M,Y,Y,0,522000.0,746280.0,59094.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,3.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [7]:
app_train.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [8]:
app_train.dtypes

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
CNT_CHILDREN                    int64
AMT_INCOME_TOTAL              float64
AMT_CREDIT                    float64
AMT_ANNUITY                   float64
AMT_GOODS_PRICE               float64
NAME_TYPE_SUITE                object
NAME_INCOME_TYPE               object
NAME_EDUCATION_TYPE            object
NAME_FAMILY_STATUS             object
NAME_HOUSING_TYPE              object
REGION_POPULATION_RELATIVE    float64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
DAYS_REGISTRATION             float64
DAYS_ID_PUBLISH                 int64
OWN_CAR_AGE                   float64
FLAG_MOBIL                      int64
FLAG_EMP_PHONE                  int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
OCCUPATION_TYPE                object
CNT_FAM_MEMBERS               float64
                               ...
DEF_30_CNT_SOCIAL_CIRCLE      float64
OBS_60_CNT_SOCIAL_CIRCLE      float64
DEF_60_CNT_SOCIAL_CIRCLE      float64
DAYS_LAST_PHONE_CHANGE        float64
FLAG_DOCUMENT_2                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
AMT_REQ_CREDIT_BUREAU_HOUR    float64
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object